//!Разобратсья с фоновым изображением

.banner {
  margin: 0px 0px 140px 0px;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.banner__content {
  margin: 120px 0 160px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__title {
  margin: 0 0 8px 0;
  color: $color-black;
  @extend %font__normal;
}

.banner__discount {
  margin: 0 0 40px 0;
  @extend %font__semibold;
}

.banner__timer {
  margin: 0px 0px 56px 0px;
  ul {
    display: flex;
    li {
      margin: 0px 8px 0px 0px;
    }
    li:last-child {
      margin: 0;
    }
  }
}

.cards__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count__left {
  width: 120px;
  height: 70px;
  margin: 0 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  background-color: #a3b6c7;
  border-radius: 6px;
}
.count__describe {
  @extend %font__light;
  color: $color-black;
}

.button_chouse {
  width: 197px;
  height: 52px;
  border: 2px #70a5d4 solid;
  border-radius: 32px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
