.header {
  display: flex;
  margin: 24px 0;
  height: 34px;
  align-items: center;
  justify-content: space-between;
}

.logo__box {
  display: flex;
  align-items: center;
}

.img__logo {
  margin-right: 10px;
}

.title__logo {
  padding-top: 8px;
}

.header__nav {
  display: flex;
  ul {
    display: flex;
    li {
      margin-right: 84px;
    }
  }
}

.nav__item,
.country__btn {
  color: $color-black;
  @extend %font__normal;
}
