.header {
  display: flex;
  margin: 24px auto;
  height: 34px;
  align-items: center;
  justify-content: space-between;
}

.logo__box {
  display: flex;
  align-items: center;
}

.img__logo {
  margin-right: 10px;
}

.title__logo {
}

.header__nav {
}

.nav__item {
  margin-right: 84px;
  color: $color-black;
  @extend %nav__item;
  .nav__item:last-child {
    margin-right: 0px;
  }
}
