// colors
$color-black: #000000;

@import "_default";
@import "_fonts";
@import "_main";
@import "_header";
@import "_banner";
@import "_products";
@import "_characters";
@import "_footer";

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 30px;
  // overflow: hidden;
}
