@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------*/
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Thin.eot");
  src: local("☺"), url("../fonts/SF UI Display Thin.woff") format("woff"), url("../fonts/SF UI Display Thin.ttf") format("truetype"), url("../fonts/SF UI Display Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Semibold.eot");
  src: local("☺"), url("../fonts/SF UI Display Semibold.woff") format("woff"), url("../fonts/SF UI Display Semibold.ttf") format("truetype"), url("../fonts/SF UI Display Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Regular.eot");
  src: local("☺"), url("../fonts/SF UI Display Regular.woff") format("woff"), url("../fonts/SF UI Display Regular.ttf") format("truetype"), url("../fonts/SF UI Display Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SF UI Display Light.eot");
  src: local("☺"), url("../fonts/SF UI Display Light.woff") format("woff"), url("../fonts/SF UI Display Light.ttf") format("truetype"), url("../fonts/SF UI Display Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
.footer__item, .characters__value, .characters__motivate, .product__more-info, .product__desc, .products__motivate, .banner__title, .nav__item,
.country__btn {
  font-family: "SF UI Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.characters__title, .products__title, .banner__discount {
  font-family: "SF UI Display";
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.count__describe {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

body {
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 24px 0;
  height: 34px;
  align-items: center;
  justify-content: space-between;
}

.logo__box {
  display: flex;
  align-items: center;
}

.img__logo {
  margin-right: 10px;
}

.title__logo {
  padding-top: 8px;
}

.header__nav {
  display: flex;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin-right: 84px;
}

.nav__item,
.country__btn {
  color: #000000;
}

.banner {
  margin: 0px 0px 140px 0px;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  display: flex;
}

.banner__content {
  margin: 120px 0 160px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__title {
  margin: 0 0 8px 0;
  color: #000000;
}

.banner__discount {
  margin: 0 0 40px 0;
}

.banner__timer {
  margin: 0px 0px 56px 0px;
}
.banner__timer ul {
  display: flex;
}
.banner__timer ul li {
  margin: 0px 8px 0px 0px;
}
.banner__timer ul li:last-child {
  margin: 0;
}

.cards__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count__left {
  width: 120px;
  height: 70px;
  margin: 0 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  background-color: #a3b6c7;
  border-radius: 6px;
}

.count__describe {
  color: #000000;
}

.button_chouse {
  display: flex;
  width: 197px;
  height: 52px;
  border: 2px #70a5d4 solid;
  border-radius: 32px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  justify-content: center;
  align-items: center;
}

.products {
  margin: 0px 0px 140px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__motivate {
  margin: 0px 0px 8px 0px;
}

.products__title {
  margin: 0px 0px 40px 0px;
}

.products__cards {
  width: 1170px;
  overflow: hidden;
  padding: 12px 6px 4px;
}

.array__right {
  transform: rotate(180deg);
}

.products__list {
  display: flex;
}
.products__list li {
  margin: 0px 24px 0px 0px;
}

.product__card {
  display: flex;
  margin: 0px 0px 24px 0px;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 370px;
  border: 1px solid #ececec;
  border-radius: 12px;
}

.product__desc {
  display: flex;
  margin: 0px 0px 26px 0px;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
}

.product__more-info {
  font-size: 16px;
  line-height: 100%;
  color: #2238ff;
}

.characters {
  margin: 0px 0px 140px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters__motivate {
  margin: 0px 0px 8px 0px;
  text-align: center;
}

.characters__title {
  margin: 0px 0px 56px 0px;
  text-align: center;
}

.characters__block {
  display: flex;
  align-items: center;
}

.characters__img {
  margin: 0px 138px 0px 0px;
}

.characters__item {
  margin: 0px 0px 29px 0px;
  display: flex;
  justify-content: space-between;
}
.characters__item :last-child {
  margin: 0px 0px 0px 0px;
}

.characters__name {
  margin: 0px 36px 0px 0px;
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.characters__value {
  justify-content: left;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.footer__block {
  margin: 30px 0px 45px;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
}
.footer__list li:first-child {
  margin: 0px 84px 0px 0px;
}

.footer__item {
  color: #ffffff;
}

.copyright {
  font-family: "SF UI Display";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 30px;
}